<!-- HEADER START -->
    <header>
        <!-- NAVBAR START LARGE SCREEN -->
        <nav class="navbar navbar-expand-lg  navbar-light bg-dark  py-3 lg_navbar ">
            <div class="container-fluid">
                <a class="navbar-brand text-white  col-2" href="#">Navbar</a>

                <!-- OFFCANVAS BTN START -->
                <button class="navbar-toggler offcanvas_btn text-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <!-- OFFCANVAS BTN END -->
                <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto ">
                        <!-- NAV-LINK START -->
                        <li class="nav-item px-1">
                            <a class="nav-link text-white active " aria-current="page" href="#">Home</a>
                        </li>
                        <!-- NAV-LINK END -->
                        <!-- NAV-LINK START -->
                        <li class="nav-item px-1">
                            <a class="nav-link text-white" href="#">About</a>
                        </li>
                        <!-- NAV-LINK END -->
                        <!-- NAV-LINK START -->
                        <li class="nav-item px-1 dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Service
                            </a>
                            <!-- DROPDOWN START -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Shopify Development</a></li>
                                <li><a class="dropdown-item" href="#">Web-App Development</a></li>
                                <li><a class="dropdown-item" href="#">Graphic Design</a></li>
                            
                            </ul>
                            <!-- DROPDOWN END -->

                        </li>
                        <!-- NAV-LINK END -->
                        <!-- NAV-LINK START -->
                        <li class="nav-item px-1">
                            <a class="nav-link text-white" href="#">Contact</a>
                        </li>
                        <!-- NAV-LINK END -->

                    </ul>
                    <form class="d-flex ">
                        <input class="form-contro col-10 ms-auto" type="search" placeholder="Search"
                            aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
        <!-- NAVBAR END LARGE SCREEN -->
        <!-- NAVBAR START MOBILE SCREEN -->

        <nav class="navbar m-0 p-0">
        <div class=" offcanvas offcanvas-end " data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Navbar</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-row justify-content-start align-items-center">
                <ul class="navbar-nav  ">
                    <!-- NAV-LINK START -->
                    <li class="nav-item px-1">
                        <a class="nav-link  active " aria-current="page" href="#">Home</a>
                    </li>
                    <!-- NAV-LINK END -->
                    <!-- NAV-LINK START -->
                    <li class="nav-item px-1">
                        <a class="nav-link " href="#">About</a>
                    </li>
                    <!-- NAV-LINK END -->
                    <!-- NAV-LINK START -->
                    <li class="nav-item px-1 dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Service
                        </a>
                        <!-- DROPDOWN START -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Shopify Development</a></li>
                            <li><a class="dropdown-item" href="#">Web-App Development</a></li>
                            <li><a class="dropdown-item" href="#">Graphic Design</a></li>
                        
                        </ul>
                        <!-- DROPDOWN END -->

                    </li>
                    <!-- NAV-LINK END -->
                    <!-- NAV-LINK START -->
                    <li class="nav-item px-1">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                    <!-- NAV-LINK END -->

                </ul>     </div>
        </div>
    </nav>
        <!-- NAVBAR END MOBILE SCREEN -->

        <!-- SCROL TO TOP BTN START -->
        <a href="#" class="scroll_top_btn">
            <button class="top_btn_1">
  <i class="fa fa-arrow-up"></i>
            </button>  
           </a>
        <!-- SCROL TO TOP BTN END -->


    </header>
    <!-- HEADER END -->